
.full-page
{
    height: 100%;
	width: 100%;
	background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)),url(https://i.pinimg.com/736x/65/a2/11/65a21153464377ee647b51fee21a4ddc.jpg);
	background-position: center;
	background-size: cover;
	position: absolute;
}
a
{
    text-decoration: none;
    color: white;
    font-size: 20px;
}
